.mui-icon-color{
     color:#000;
}
 .mui-agreement-info{
     width:90%;
     margin:0 auto;
     padding-top:1.3513513513513513rem;
}
 .mui-one-info{
     text-indent:0.8648648648648649rem;
     ;
}
 .mui-agreement-info p{
     color:#000;
     font-size:0.32432432432432434rem;
}
 
/*.mui-bat-link{
	width:90%;
	margin:20px auto;
}
.mui-btn-padd{
	padding:5px 20px;
}
*/