/*公共样式*/
*{margin:0;padding:0;}
ul li{list-style:none;}
a{text-decoration:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td,figure{margin:0;padding:0;}
body{font:normal 14px/24px "Helvetica Neue",Helvetica,STheiti,"Microsoft Yahei","冬青黑体简体中文 w3",宋体,Arial,Tahoma,sans-serif,serif;word-wrap:break-word;background: #F0F0F0;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}

/*主体样式*/
.page {width:100%;float:left;background:#fff; margin:0 auto;position:relative;}
.event_year{height:50px;text-align:center;}
.event_year li{float:left;width:9.09%;line-height:50px;font-size:18px;color:#828282;cursor:pointer;}
.event_year li.current{color:#174ed0;font-weight:bold;background:#f5f5f5;}
.event_list {width:1000px;min-height:768px;margin:0 auto;padding-top:30px;}
.event_list li{position:relative;overflow:hidden;}
.event_list li .left-info{width:150px;float:left;margin-top:60px;text-align:center;}
.event_list li .left-info b{font-size:40px;}
.event_list li .left-info span{font-size:20px;}
.event_list li img{position:absolute;left:205px;top:0;}
.event_list li .right-info{float:left;width:785px;margin:10px 0px 0px 60px;border-left:2px solid #16ac47;}
.event_list li .right-info h1{color:#0066ff;font-size:24px;line-height:24px;margin-left:100px;padding-bottom:10px;}
.event_list li .right-info p{color:#333;line-height:30px;font-size:20px;margin-left:100px;}
.event_list li p span{margin:0;width:680px;text-align:left;padding:10px 15px;}
.event_list .message{color:#999;font-size:16px;line-height:30px;margin-left:160px;}

/*多选弹框*/
.catapult{
	width:100%; 
	height:150px;
	position:absolute;
	top:50px;
	left:0;
	z-index:9999;
	display:none;
	background:#fff;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}
.catapult-check , .catapult-btn{
	line-height:75px;
}
.catapult-check li{
	width:11.11%;
	float:left;
	list-style-type:none;
	position: relative;
}
.catapult-check li input{
	margin-left:50px;
}
.catapult-check li input[type="checkbox"]{
	width:20px;
	height:20px;
	display: inline-block;
	text-align: center;
	vertical-align: middle; 
	line-height: 18px;
	position: relative;
}
.catapult-check li input[type="checkbox"]::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    background:#fff;
    width:100%;
    height:100%;
    border-radius:4px;
    border:1px solid #999999;
}
.catapult-check li input[type="checkbox"]:checked::before{
    content:"\2713";
    background-color:#f59704;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    border-radius:4px;
    border:1px solid #f59704;
}
.catapult-check li label{
	color:#333;
	font-size:16px;
	position:absolute;
	top:2px;
	left:75px;
}
.catapult-btn input{
	color:#fff;
	border:0;
	width:120px;
	height:38px;
	font-size:20px;
	border-radius:4px;
	margin-left:47%;
	background-color:#174ed0;
}